on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: 'ubuntu-latest'

    strategy:
      fail-fast: false
      matrix:
        threaded: [ true, false ]
        perl-version:
          - '5.18'
          - '5.20'
          - '5.22'
          - '5.24'
          - '5.26'
          - '5.28'
          - '5.30'
          - '5.32'
          - '5.34'
          - '5.36'
          - '5.38'
          - '5.40'
          - '5.42'
          - 'latest'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Perl ${{ matrix.perl-version }}
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
          multi-thread: ${{ matrix.threaded }}
      - name: Install Dependencies
        run: cpm install -g --show-build-log-on-failure --with-recommends --with-test
      - name: Install Test Dependencies
        run: cpm install -g --show-build-log-on-failure --with-recommends --with-test App::Yath UUID
      - name: Run Tests
        run: yath test --qvf t